.keyboard {
    width: 495px;
    padding: 10px;
}

.keyboard__header {
    display: flex;
    justify-content: space-between;
}

.keyboard__title {

}

.keyboard__close-button {
    
}

.keyboard__buttons {

}

.keyboard__row {

}